.textfield{
    color: #fff;
    height: 30px;
    vertical-align: middle;
    input{
        all: unset;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
    }
}

.small-icon{
    height: 64px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        padding: 0;
        width: 48px;
        height: 48px;
        &:hover{
            background-color: rgba($color: #fff, $alpha: 0.1);
            path{
                fill: #121212;
            }
        }
    }
    path{
        font-size: 48;
        fill: #fff;
        fill-opacity: 0.56;
    }
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    color:#fff;
}