@import url(https://fonts.googleapis.com/css?family=Oswald);

.container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91%;
}

.container_form_general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 85%;
}


.container_form_general_infographics{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 55%;
}

.container_form_general_infographics_picture{
    height: 100%;
    width: 100%;
}

.container_form_general_infographics_picture_slider {
    width: 100%;
    height: 100%;
}

.container_form_general_infographics_picture_slider > .slick-list {
    width: 100%;
    height: 100%;
}

@media (min-height: 801px) and (min-width: 1501px) {
    .container_form_general_infographics_picture_slider_img{
        height: 700px;
        width: 670px;
    }
    .container_form_general_infographics_picture_slider_shell{
        font-weight: 700;
        font-size: 32px;
    }
}

@media (max-height: 800px) and (max-width: 1500px) {
    .container_form_general_infographics_picture_slider_img{
        height: 450px;
        width: 510px;
    }

    .container_form_general_infographics_picture_slider_shell{
        font-weight: 500;
        font-size: 28px;
    }
}


.container_form_general_infographics_picture_slider_shell{
    text-align: center;
    margin-top: 3px;
    width: 100%;
}

.container_form_general_infographics_picture_slider_shell_signature{
    font-family: 'Oswald';
    font-style: normal;
    text-transform: uppercase;
    color: #F2E3D0;
}

.container_form_general_enter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_form_general_enter_card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    align-self: center;
    padding: 24px 24px 17px 24px;
    margin-top: -8%;
    
    width: 348px;
    height: 295px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.12) 100%), #121212;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.container_form_general_enter_card_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container_form_general_registration{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-height: 800px) {
    .container_form_general_registration_card{
        width: 348px;
        height: 408px;
    }
}

@media (min-height: 800px) {
    .container_form_general_registration_card{
        width: 348px;
        height: 457px;
    }
}

.container_form_general_registration_card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    align-self: center;
    padding: 24px 24px 17px 24px;
    margin-top: -12%;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.12) 100%), #121212;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.container_form_general_registration_card_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
