$BDcolor: #F2E3D0;
$Hcolor : #1C1C1F;
$FontForBuyHeader: 60px;
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;400&family=Poiret+One&display=swap');

@mixin text ()
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    width: 30%;
    padding-left:5%;    
            text-align: justify;
    letter-spacing: -0.011em;
}

@mixin block()
{
    background-color: $Hcolor;
    width: 70%;
    height: 550px;
  
    margin-top:100px;
    border-radius: 43px;
    color:$BDcolor;
}

#header
{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $Hcolor;
    height: 80px;
        display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
   box-shadow: 0px 144px 57px rgba(0, 0, 0, 0.04), 0px 81px 48px rgba(0, 0, 0, 0.13), 0px 36px 36px rgba(0, 0, 0, 0.21), 0px 9px 20px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.25);

}
#logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
     color: $BDcolor;
    width: 50%;
    letter-spacing: 0.07em;
    font-family: 'Alegreya Sans';
    font-style: normal;
    >img
    {
        margin-right: 2%;
    }
   
    
}
#info
{
    width: 50%;
    
    font-family: 'Roboto';
font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.15px;

    color: $BDcolor;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    >a
    {
        color: $BDcolor;
        text-decoration: none;
        margin-left: 5%;
        &:hover
        {
            color: darken($color: $BDcolor, $amount: 20);
        }
    }
    #start
    {
        background-color: #90CAF9;
        color: $Hcolor;
        font-weight:bolder;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
border-radius: 4px;
        width: 17%;
        line-height: 50px;
        text-align: center;
        cursor:pointer;
        &:hover
        {
            background-color: darken($color:  #B1C7DE, $amount: 15);
        }
    }
}


@media screen and (max-width: 1000px){
    .buy__subtext
    {
        width: 100%;
    }
    .buy__header
    {
        font-size: 24px;
    }
    .container_picture_slider_img{
        width: 200px;
    }
    .Header_buy2
    {
        font-size: 25px;
    }
    .Text_buy2
    {
        font-size: 8px;
    }
    .profile_photo
    {
        height: 70px;
        width: 70px;
    }
    .card
    {
        height: 180px;
    }
    .SmallUs
    {
        font-size: 6px;
    }
    .LargeUs
    {
        font-size: 13px;
    }
#logo
{
    font-size: 24px;
}
.InfoText
{
    font-size: 10px;
}

#logo_img
{
    width: 30px;
}

.Buy_pictures_text
{
    font-size:16px;
}
.Buy_pictures_img
{
    width: 70px;
}

}


@media screen and (min-width: 1000px) and (max-width: 1439px){
    .buy__subtext
    {
        width: 60%;
    }
    .buy__header
    {
        font-size: 33px;
    }
    .container_picture_slider_img{
        width: 394px;
    }
    .Header_buy2
    {
        font-size: 30px;
    }
    .Text_buy2
    {
        font-size: 12px;
    }
    .profile_photo
    {
        height: 110px;
        width: 110px;
    }
    .card
    {
        height: 250px;
    }
    .SmallUs
    {
        font-size: 8px;
    }
    .LargeUs
    {
        font-size: 15px;
    }
    #logo
{
    font-size: 30px;
}
.InfoText
{
    font-size: 14px;
}

#logo_img
{
    width: 45px;
}
.Buy_pictures_text
{
    font-size:20px;
}
.Buy_pictures_img
{
    width: 95px;
}
}

@media  screen and (min-width: 1440px) and (max-width: 1560px){
    .buy__subtext
    {
        width: 55%;
    }
    .buy__header
    {
        font-size: 45px;
    }
    .container_picture_slider_img{
        width: 408px;
    }
    .Header_buy2
    {
        font-size: 35px;
    }
    .Text_buy2
    {
        font-size: 15px;
    }
    .profile_photo
    {
        height: 150px;
        width: 150px;
    }
    .card
    {
        height: 350px;
    }
    .SmallUs
    {
        font-size: 10px;
    }
    .LargeUs
    {
        font-size: 19px;
    }
    #logo
{
    font-size: 38px;
}
.InfoText
{
    font-size: 18px;
}

#logo_img
{
    width: 55px;
}
.Buy_pictures_text
{
    font-size:26px;
}
.Buy_pictures_img
{
    width: 115px;
}
}

@media  screen and (min-width: 1561px) and (max-width: 1851px){
    .buy__subtext
    {
        width: 50%;
    }
    .buy__header
    {
        font-size: 52px;
    }
    .container_picture_slider_img
    {
        width: 500px;
    }
    .Header_buy2
    {
        font-size: 37px;
    }

    .Text_buy2
    {
        font-size: 16px;
    }
    .profile_photo
    {
        height: 170px;
        width: 170px;
    }
    .card
    {
        height: 375px;
    }
    .SmallUs
    {
        font-size: 11.5px;
    }
    .LargeUs
    {
        font-size: 21px;
    }
    #logo
{
    font-size: 43px;
}
.InfoText
{
    font-size: 20px;
}

#logo_img
{
    width: 60px;
}
.Buy_pictures_text
{
    font-size:32px;
}
.Buy_pictures_img
{
    width: 140px;
}
}


@media  screen and (min-width: 1852px) and (max-width: 1999px){
    .buy__subtext
    {
        width: 45%;
    }
    .buy__header
    {
        font-size: 60px;
    }
    .container_picture_slider_img
    {
        width: 545px;
    }
    .Header_buy2
    {
        font-size: 40px;
    }

    .Text_buy2
    {
        font-size: 18px;
    }
    .profile_photo
    {
        height: 200px;
        width: 200px;
    }
    .card
    {
        height: 400px;
    }
    .SmallUs
    {
        font-size: 13px;
    }
    .LargeUs
    {
        font-size: 24px;
    }
    #logo
{
    font-size: 48px;
}
.InfoText
{
    font-size: 24px;
}

#logo_img
{
    width: 60px;
}
.Buy_pictures_text
{
    font-size:36px;
}
.Buy_pictures_img
{
    width: 170px;
}
}

@media  screen and (min-width: 2000px)
{
    .buy__subtext
    {
        width: 30%;
    }
    .buy__header
    {
        font-size: 80px;
    }
    .container_picture_slider_img{
        width: 726px;
    }

    .Header_buy2
    {
        font-size: 50px;
    }
    .Text_buy2
    {
        font-size: 25px;
    }
    .profile_photo
    {
        height: 250px;
        width: 250px;
    }
    .card
    {
        height: 475px;
    }
    .SmallUs
    {
        font-size: 16px;
    }
    .LargeUs
    {
        font-size: 30px;
    }
    #logo
{
    font-size: 54px;
}
.InfoText
{
    font-size: 27px;
}

#logo_img
{
    width: 67px;
}
.Buy_pictures_text
{
    font-size:42px;
}
.Buy_pictures_img
{
    width: 195px;
}
}
#buy
{
 @include block();
 padding: 5% 7% 3% 3%;
 height: 600px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: flex-start;
 
    .buy__subtext
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: justify;
letter-spacing: 0.15px;
    }
    .buy__header
    {
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 500;
      
      
        text-transform: uppercase;
      
    }
}



#info2
{
    height: 280px;
    width: 100%;
margin-top:5%;
display:flex;
justify-content: center;
>div
{
    width: 50%;
    display:flex;
flex-direction: row;
justify-content: space-around;
margin-bottom: 5%;
>div
{
    font-family: 'Roboto';
    font-style: normal;
font-weight: 500;
line-height: 43px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
text-align: center;
}
}
}

#buy2
{
    
    @include block();
    width: 98.5%;
    margin-left:0.75%;
    height: 800px;
    display: flex;
    justify-content: space-between;
  
    >div
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3%;
       
        >span
        {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
         
            line-height: 24px;
            
            letter-spacing: 0.15px;
            
            color: #F2E3D0;
            
        }
        >a
        {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            line-height: 116.7%;
            color: #B0C7DD;



        }
    }

    .text_slider

    {
        margin-top: 10%;
        display: flex;
        height: 60%;
        width: 40%;
        justify-content: space-around;
        >div>span
        {
            font-family: 'Roboto';
font-style: normal;
font-weight: 400;

line-height: 116.7%;
            color:$BDcolor;
            
       
        }
    }
}

#frame
{
    background-color: #808080;
    width: 72%;

    border-radius: 43px;
    background: linear-gradient(180deg, rgba(28, 28, 31, 0) 10.94%, #7C7D81 49.48%);
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    >span
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
      
        line-height: 116.7%;
color: $BDcolor;
margin: 5%;
    }
    #us
    {
        font-family: 'Roboto';
font-style: normal;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        color: #1C1C1F;
        .card
        {
           
            width: 21%;
            border: 1px solid #F2E3D0;
            border-radius: 26px;
            margin: 1%;
            padding: 0.5%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;
            
          .right_photo
          {
            width: 100%;
            display: flex;
            justify-content: flex-end;
          }
            }
           
    }
}
#team
{
    width: 100%;
  display: flex;
  justify-content: flex-start;
  >span
  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
  
    line-height: 116.7%;
color: $BDcolor;
margin: 3%;
  }
}
.container_picture{
    height: 100%;
    width: 100%;
}

.container_picture_slider {
    width: 100%;
    height: 100%;
}

.container_picture_slider > .slick-list {
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#connect
{
    
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    >div
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2%;
        .LargeUs
        {
            font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;

line-height: 133.4%;
text-transform: lowercase;
        }
        .SmallUs
        {
            font-family: 'Roboto';
font-style: normal;
font-weight: 400;

line-height: 12px;


letter-spacing: 0.15px;
        }
    }
}