.PatternSet__head {
    display: flex;
    justify-content: space-around;
    background: #121212;

}

.PatternSet__head__body  {
    width: 65%;
    height: 44px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Pattern_text{
    text-align: center;
    padding-left: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133.4%;
    
    color: #FFFFFF;
    
}

.Pattern-body{
    display: flex;
    justify-content: center;
}

.Pattern__container{
    width: 65%;
    background: #121212;
    gap: 67px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}

.pattern-block{
    width: 180px;
    height: 176px;
    margin-bottom: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #222430;
}

.pattern__photo{
    object-fit: cover;
    width: 180px;
    height: 135px;
    display: block;
}

.pattern-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    height: 40px;
    padding-left: 16px;
}

.pattern-box__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    letter-spacing: 0.15px;
    
    color: #FFFFFF;
    
}