.PatternSet__head {
    display: flex;
    justify-content: space-around;
    background: #121212;

}

.PatternSet__head__body  {
    width: 65%;
    height: 44px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Pattern_text{
    text-align: center;
    padding-left: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133.4%;
    
    color: #FFFFFF;
    
}

.Pattern-body{
    display: flex;
    justify-content: center;
}

.Pattern__container{
    width: 65%;
    background: #121212;
    gap: 67px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}

.pattern-block{
    width: 180px;
    height: 176px;
    margin-bottom: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #222430;
}

.pattern__photo{
    object-fit: cover;
    width: 180px;
    height: 135px;
    display: block;
}

.pattern-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    height: 40px;
    padding-left: 16px;
}

.pattern-box__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    letter-spacing: 0.15px;
    
    color: #FFFFFF;
    
}

.option__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.option{
    height: 42px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiPopover-paper{
    .popover-test{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.16) 100%), #121212;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        width: 200px;
        height: 142px;
        padding: 8px 16px;
    }
}

.option__text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
}