.test-body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    .test-body__container{
        width: 55%;
    }
}

.test-block{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.16) 100%), #121212;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 16px 24px 16px 24px;
    margin: 16px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    h2{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
    &> *{
        margin: 0 0 16px 0;
        width: 100%;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .textfield{
        border-bottom: 1px dotted #ffffff56;
    }
}
