* {
  box-sizing: border-box;
}

body {
  background: #121212;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@import "_header.scss";
@import "_form.scss";