@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,500;1,100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


body {
  margin: 0;
}

.container {
  background: #121212;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@import "_header.scss";
@import "_form.scss";
@import "test-header";
@import "test-body";
@import "components";
@import "landing";
@import "set_header";
@import "set_pattern-set";
@import "set_UserTests";
@import "set_popovers";
@import "set_modals";
@import "set_rename";
@import "TestForClient";
@import "./stats/stats"